doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
    meta(name='theme-color', content='#000000')
    link(rel='manifest', href='/manifest.json')
    link(rel='shortcut icon', href='/favicon.ico')
    title React App
    link(href='react/static/css/main.73f92d07.css', rel='stylesheet')
  body
    h1 Welcome to SisAsis!
    h2 This is the API Layer of the application.
    noscript You need to enable JavaScript to run this app.
    #root
    script(type='text/javascript', src='react/static/js/main.9c13e660.js')
